ul.nav {
    list-style-type: none;
    /* display: flex;
    flex-direction: row;
    gap: 10px; */
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* position: fixed; */
    top: 0;
    width: 100%;
    background: linear-gradient(115.76deg, #8F5FF4 0%, rgba(173, 145, 231, 0) 49.8%), linear-gradient(119.29deg, #74B8F4 54.35%, rgba(152, 198, 239, 0) 100%), #D1FC52;
}

ul.navbody {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(115.76deg, #8F5FF4 0%, rgba(173, 145, 231, 0) 49.8%), linear-gradient(119.29deg, #74B8F4 54.35%, rgba(152, 198, 239, 0) 100%), #D1FC52;
}

h4.box-header {

    background: linear-gradient(115.76deg, #8F5FF4 0%, rgba(173, 145, 231, 0) 49.8%), linear-gradient(119.29deg, #74B8F4 54.35%, rgba(152, 198, 239, 0) 100%), #D1FC52;
}

li.nav {
    float: left;
    padding: 1px;
    padding-left: 40px;
    font-size: 25px;
}

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 69px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    text-decoration: none;
}

li.Title a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 50px 0px;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    color: #FFFFFF;
    background: linear-gradient(115.76deg, #8F5FF4 0%, rgba(173, 145, 231, 0) 49.8%), linear-gradient(119.29deg, #74B8F4 54.35%, rgba(152, 198, 239, 0) 100%), #D1FC52;
}


/* Change the link color to #111 (black) on hover */

li.nav a:hover:not(.active) {
    background-color: #AED9FF;
}

.active {
    background-color: #AED9FF;
}

div.smallbanner {
    padding-top: 80px;
}